{% extends 'Store/base_admin.html' %}
{% block title %}Order Detail{% endblock %}

{% block content %}
<h2 class="mb-4">📄 Order Details #{{ order.id }}</h2>

<div class="card p-4">

<h4>User: {{ order.user.username }}</h4>
<h5>Total: ₹{{ order.total_amount }}</h5>
<p>Status: <strong>{{ order.status }}</strong></p>

<hr>

<h4>Items</h4>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Subtotal</th>
    </tr>
    </thead>

    <tbody>
    {% for item in order.items.all %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>₹{{ item.price_at_purchase }}</td>
        <td>₹{{ item.subtotal }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<hr>

<form method="POST">
    {% csrf_token %}
    <label>Status:</label>
    <select name="status" class="form-select bg-dark text-light mt-2">
        {% for value,label in order.STATUS_CHOICES %}
            <option value="{{ value }}" {% if order.status == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>

    <button class="btn btn-info mt-3">Update Status</button>
</form>

</div>
{% endblock %}
