{% extends 'Store/base_admin.html' %}
{% block title %}Orders{% endblock %}

{% block content %}
<h2 class="mb-4">🧾 Order Management</h2>

<div class="card p-3">
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Total</th>
        <th>Status</th>
        <th>Date</th>
        <th>View</th>
    </tr>
    </thead>

    <tbody>
    {% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.user.username }}</td>
        <td>₹{{ order.total_amount }}</td>

        <td>
            {% if order.status == 'Pending' %}
                <span class="badge bg-warning text-dark">Pending</span>
            {% elif order.status == 'Shipped' %}
                <span class="badge bg-primary">Shipped</span>
            {% elif order.status == 'Delivered' %}
                <span class="badge bg-success">Delivered</span>
            {% else %}
                <span class="badge bg-danger">Cancelled</span>
            {% endif %}
        </td>

        <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>

        <td>
            <a href="{% url 'Store:admin_order_update' order.id %}" class="btn btn-sm btn-info">View</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
